:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: white;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('images/US-en-20220523-popsignuptwoweeks-perspective_alpha_website_medium.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}


.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top img {
	width: 160px;
    position: relative;
	top: 3%;
	left: 3%;
    transform: translate(-50);

}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content{
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
	z-index: 2;
	

}

.showcase-content h1{
	font-weight: 700;
	font-size: 3.125rem;
}

.showcase-content h2{
	font-weight: 400;
	font-size: 1.625rem;
}

.showcase-content h3{
	font-weight: 400;

}

.register{
	display: inline;
	
}

.email{
	
	padding:1rem 1rem;
	padding-right: 17rem;
	
}

.hr1{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);
	
}

.tab-1{
	height: 50vh;
	width: 100%;
	line-height: 1.1;
	
}
.tab-1 img{
	position: relative;
	width: 530px;
   left: 45rem;
   
}

.tab-1text{
	position: absolute;
	margin-top: 9rem;
	left: 8rem;
	
}

.tab-1 h1{
	font-size: 3.125rem;
}

.tab-1 h2{
	font-size: 1.625rem;
    font-weight: 400
}

.tab-1 video{
	margin-top: 1rem;
	width: 400px;
	height: 350px;
	position: absolute;
	left: 49rem;
}

.hr2{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);
	margin-top: 9rem;
}

.tab-2{
	height: 50vh;
	width: 100%;
	line-height: 1.1;
}

.tab-2text{
	position: absolute;
	margin-top: 9rem;
	left: 43rem;
	
}

.tab-2 img{
	position: relative;
	width: 500px;
	margin-top: 2rem;
	left: 4rem;
   
}

.tab-2 h1{
	font-size: 3.125rem;
}

.tab-2 h2{
	font-size: 1.625rem;
    font-weight: 400;
}

.hr3{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);
	margin-top: 9rem;	
}

.tab-3{
	height: 50vh;
	width: 100%;
	line-height: 1.1;
	
}
.tab-3 img{
	position: relative;
	width: 530px;
   left: 45rem;
   margin-top: 2rem;
   
}

.tab-3text{
	position: absolute;
	margin-top: 9rem;
	left: 8rem;
	
}

.tab-3 h1{
	font-size: 3.125rem;
}

.tab-3 h2{
	font-size: 1.625rem;
    font-weight: 400
}

.tab-3 video{
	margin-top: 1rem;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 52rem;
}

.hr4{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);
	margin-top: 9rem;	
}

.tab-4{
	height: 50vh;
	width: 100%;
	line-height: 1.1;
}

.tab-4text{
	position: absolute;
	margin-top: 9rem;
	left: 43rem;
	
}

.tab-4 img{
	position: relative;
	width: 500px;
	margin-top: 3rem;
	left: 5rem;
   
}

.tab-4 h1{
	font-size: 3.125rem;
}

.tab-4 h2{
	font-size: 1.625rem;
    font-weight: 400;
}
.hr5{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);
	margin-top: 9rem;
}

.tab5{
	height: 100vh;
}
.tab5-text{
	position: relative;
	left: 25rem;
	margin-top: 2rem;
	font-weight: 700;
	font-size: 1.5rem;
}



summary{
	position: relative;
	padding: 1rem;
	left: 14rem;
	background-color: #302d2d;
margin-top: 1rem;
cursor: pointer;
font-weight: 400;
font-size: 2rem;

width: 70%;
	
}

.content{
	background-color: #302d2d;
	font-weight: 400;
	position: relative;
font-size: 2rem;
left: 14rem;
width: 70%;
}

.bottom-signin{
	position: relative;
	left: 25rem;
	margin-top: 3rem;
}
.hr6{
	color: rgb(77, 75, 75);
	height: 8px;
	background-color: rgb(75, 75, 75);	
	margin-top: 2rem;
}

.site-footer-wrapper{
    min-width: 190px;
    padding-bottom: 20px;
    margin-top: 80px;
    font-size: 1em;
    position: relative;
    background-color: #000;
    opacity: 0.8;
}

.site-footer{
    color: #757575;
    background-color: #000;
    padding: 30px 0px;
    margin: 0 auto;
    width: 90%;
}

.footer-top{
    padding: 0;
    margin: 0 0 30px;
}
.footer-top:hover{
    text-decoration: underline;
}

ul.structural{
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul.structural{
    list-style: none;
    margin-left: 0;
}


.footer-link{
    max-width: 1000px;
    font-size: 13px;
    box-sizing: border-box;
}

.footer-link-item{
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    padding-right: 12px;
    vertical-align: top;
}




















/* Buttons */
.btn {
	display: inline;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 1rem;
	padding: 1rem 1rem;
	
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}
